<section id="portfolio2" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <strong>XRUSH</strong>
        </h2>

        <div class="col-lg-6">
          <h3>
            <strong>About</strong>
          </h3>
          <div class="video-container">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/5nu2JHM60pg"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <br />
          <p style="text-align: left;">
            XRUSH is an infinite runner game, set in distant future. The player
            navigate through the endless platform by moving left or right, and
            can also morph its color to trigger magical runes. The runes will
            give the player special ability if both are of the same color.
            <br />
            <br />
            The game is created using Unity (C#) with graphical assets from the
            asset store.
          </p>
        </div>

        <div class="col-lg-6">
          <h3>
            <strong>Role</strong>
          </h3>
          <ul style="text-align: left;">
            <li>
              Implementation of endless platform generator, with variable
              constraints and probability measures to enable dynamic yet fun
              levels
            </li>
            <li>
              Implementation of robust object pooling system to handle the huge
              traffic of object creation and destruction as efficient as
              possible
            </li>
            <li>Game logic mechanic and effects</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.row (nested) -->
  </div>
</section>
