<section id="portfolio" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h3>
            <strong>XRUSH</strong>
          </h3>

          <div class="col-lg-6">
            <h4>
              <strong>About</strong>
            </h4>
            <div class="text-left">
              <p>
                XRUSH is an infinite runner game, set in distant future. The
                player navigate through the endless platform by moving left or
                right, and can also morph its color to trigger magical runes.
                The runes will give the player special ability if both are of
                the same color.
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <h4>
              <strong>Role</strong>
            </h4>
            <div class="text-left">
              <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
              </ul>
            </div>
          </div>

          <p></p>
        </div>
      </div>
    </div>
    <!-- /.row (nested) -->
  </div>
</section>
