<section id="portfolio1" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <strong>Job catalog</strong>
        </h2>

        <div class="col-lg-6">
          <h3>
            <strong>About</strong>
          </h3>
          <p style="text-align: left;">
            This is an app for quick contract job, similar to the likes of
            Meetup. It has some form of social networking feature, eg. the
            ability to view user's profile and chat.

            <br />
            <br />
            This app has been developed for desktop web platform with JavaScript
            and React.
          </p>

          <h3>
            <strong>Features</strong>
          </h3>

          <ul style="text-align: left;">
            <li>CRUD operation with backend server (Node)</li>
            <li>List Jobs (Sorting, Filtering)</li>
            <li>Google Maps and Autocomplete</li>
            <li>View & Edit Job Detail (with authentication)</li>
            <li>Chat system in the job page</li>
            <li>Login / Register</li>
            <li>View other user's profile</li>
            <li>Edit self user profile</li>
            <li>Join / Leave Job</li>
            <li>Custom Notifications</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h3>
            <strong>Description</strong>
          </h3>
          <p style="text-align: left;">
            This is an educational app developed in requirement for the Web
            Enterprise Development Course which I undertook during my MSc in
            Computing.
            <br />
            <br />
            Adhering to best practices recommended for React, components are
            designed with a single responsibility principle. Redux aids in
            centralizing the state which would then be passed down the component
            tree as props. Proper usages of state in components, together with
            lifecycle and async functions ensure the user interfaces are fluid
            and responsive.
          </p>

          <br />
          <br />
          <a
            href="https://github.com/rudinesurya/ess-ewd-asg2-react"
            class="btn btn-lg"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <!-- /.row (nested) -->
  </div>
</section>
