<section id="portfolio2" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <strong>Restaurant catalog</strong>
        </h2>

        <div class="col-lg-6">
          <h3>
            <strong>About</strong>
          </h3>

          <p style="text-align: left;">
            This is an app for getting the top trending restaurants in your
            location of choice. It segments the search result based on prices
            ($,$$,$$$).

            <br />
            <br />
            This app has been developed for native Android with Java, and also
            using MVVM, Retrofit, RxJava, Dagger.
          </p>

          <h3>
            <strong>Features</strong>
          </h3>

          <ul style="text-align: left;">
            <li>Fetching search results from Yelp</li>
            <li>More to come..</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h3>
            <strong>Description</strong>
          </h3>
          <p style="text-align: left;">
            This is an educational app developed to experiment with Conductor,
            Auto value, RxJava, Dagger 2.
            <br />
            <br />
            Similar to the
            <a href="#" style="color:whitesmoke">previous project</a>, the tech
            stack uses MVVM, but follows Dagger conventional way of managing
            ViewModels creation through scoping. This prevents the need of using
            the Android anti-pattern way of ViewModel Factory.
          </p>
          <br />
          <br />
          <a
            href="https://github.com/rudinesurya/tango"
            class="btn btn-light btn-lg"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <!-- /.row (nested) -->
  </div>
</section>
