<section id="portfolio" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <strong
            >Restaurant catalog app that runs on native android (MVVM, Retrofit,
            RxJava, Dagger 2)</strong
          >
        </h2>

        <div class="col-lg-6">
          <h3>
            <strong>About</strong>
          </h3>

          <img src="img/android.jpg" width="230" height="140" />
          <br />
          <br />
          <p style="text-align: left;">
            This is a restaurant catalog app.
          </p>
        </div>

        <div class="col-lg-6">
          <h3>
            <strong>Description</strong>
          </h3>
          <ul style="text-align: left;">
            <li>
              Manage dependencies using Dagger 2.
            </li>
            <li>
              MVVM Architecture Adopted.
            </li>
            <li>
              Repository layer pattern.
            </li>
            <li>
              Experience with unit testing using JUnit and Mockito.
            </li>
          </ul>
          <br />
          <br />
          <a
            href="https://github.com/rudinesurya/tango"
            class="btn btn-light btn-lg"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <!-- /.row (nested) -->
  </div>
</section>
