<section id="portfolio3" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          <strong>Restaurant catalog</strong>
        </h2>

        <div class="col-lg-6">
          <h3>
            <strong>About</strong>
          </h3>

          <p style="text-align: left;">
            This is an app for getting the top trending restaurants in your
            location of choice. It segments the search result based on prices
            ($,$$,$$$).
            <br />
            <br />
            This app has been developed using React Native with JavaScript, and
            also using Redux, Hooks, Axios.
          </p>

          <h3>
            <strong>Features</strong>
          </h3>

          <ul style="text-align: left;">
            <li>Fetching search results from Yelp</li>
            <li>More to come..</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h3>
            <strong>Description</strong>
          </h3>
          <p style="text-align: left;">
            This is an educational app developed to experiment with React Native
            and its related technologies.
            <br />
            <br />
            React Native uses React and JavaScript to build app components, and
            follows the same design principles used in Web. For this reason, I
            have kept my coding style similar to my
            <a href="webdev">Web implementation</a>.
          </p>
          <br />
          <br />
          <a href="https://github.com/rudinesurya/tango_rn" class="btn btn-lg"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <!-- /.row (nested) -->
  </div>
</section>
