<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Rudine Surya</h1>
    <h3>Full stack software developer</h3>
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </h4>

    <br />
    <ul class="list-inline">
      <li>
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope fa-fw fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin fa-fw fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github fa-fw fa-3x"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
