<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Rudine Surya</h1>
    <h2>Full stack | Android | Web developer</h3>

    <br />
    <br />
    <ul class="list-inline">
      <li>
        <a href="mailto:{{ site.email }}">
            <span style="color: whitesmoke;">
                <i class="fa fa-envelope fa-fw fa-3x"></i>
                <h4>Gmail</h4>
            </span>
        </a>
      </li>
      <li>
        <a href="http://linkedin.com/in/{{ site.linkedin_username }}">
          <span style="color: whitesmoke;">
              <i class="fa fa-linkedin fa-fw fa-3x "></i>
              <h4>LinkedIn</h4>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <span style="color: whitesmoke;">
              <i class="fa fa-github fa-fw fa-3x "></i>
              <h4>Github</h4>
          </span>
        </a>
      </li>
    </ul>
  </div>
</header>
